 <ion-header class="">
   <ion-navbar no-padding [ngClass]="{'menu-opened': menuOpen}">
		<ion-title>
			<div class="container">
        		<div class="header-main" padding-horizontal>
					<!-- Main Nav tabs -->
					<ul class="nav pri-menu pri-to-nav">
						<li style="Width: 150px;" margin-right class="hidden-xs"><img src="../assets/img/tracker-logo.png" alt=""></li>
						<li (click)="toggleMenu()" class="visible-xs pri-menu__hb"> <ion-icon name="menu"></ion-icon></li>
						<li class="pri-menu__title hasub visible-xs">
							  <h2>Competition Tracker</h2>
						</li>
						<li class="pri-menu__wrap hidden-xs-inline-block">
							<ul class="pri-menu__full">
								<!--<li *ngFor="let tab of activeTabsList" (click)="navTo(tab.segment);" [ngClass]="isActive(tab)"><a>{{tab.name}}</a></li>-->
								<li class="active"><a (contextmenu)="onContextMenu($event,'dashboard')">Dashboard</a></li>
								<li><a (click)="navTo('import')" (contextmenu)="onContextMenu($event,'import')">Import</a></li>
								<li><a (click)="navTo('prices','all');" (contextmenu)="onContextMenu($event,'prices/all')">Prices</a></li>
								 <!-- <li (click)="navTo('competitors');"><a>Competitors</a></li>  -->
								<!-- <li (click)="navTo('violations');"><a>Violations</a></li> -->
								<!-- <li (click)="navTo('products');"><a>Products</a></li> -->
								<!--<li (click)="navTo('pricingrule');"><a>Pricing Rules</a></li>-->
							</ul>
						</li>
						<!-- .... user popover will appear here and logout + settings will be a part of it .... -->
						<!--<li (click)="signOut()" class="pri-menu__logout"><a>Logout</a></li>-->
						<logout-popover [source]="currentPage" [topmetrics]="topMetrics">
						</logout-popover>
					</ul>
				</div>
			</div>
		</ion-title>
	 </ion-navbar>
 </ion-header>

<ion-content no-padding>
	<div class="container">

		<ion-grid no-padding>
			<ion-row>
				<ion-col col-md-12 col-12 padding-top>
					<!-- loader -->
					<div [hidden]="gotTopMetrics" class="tabular__row flex has-anim-loader">
						<div class="masked masked--summary">
							<div class="masked__bg">
								<div class="masked__elements">
									<div class="masked__elem masked--1"></div>
									<div class="masked__elem masked--2"></div>
									<div class="masked__elem masked--3"></div>
									<div class="masked__elem masked--4"></div>
									<div class="masked__elem masked--5"></div>
									<div class="masked__elem masked--6"></div>
									<div class="masked__elem masked--7"></div>
									<div class="masked__elem masked--8"></div>
									<div class="masked__elem masked--9"></div>
									<div class="masked__elem masked--10"></div>
									<div class="masked__elem masked--11"></div>
									<div class="masked__elem masked--12"></div>
									<div class="masked__elem masked--13"></div>
									<div class="masked__elem masked--14"></div>
									<div class="masked__elem masked--15"></div>
									<div class="masked__elem masked--16"></div>
									<div class="masked__elem masked--17"></div>
									<div class="masked__elem masked--18"></div>
									<div class="masked__elem masked--19"></div>
									<div class="masked__elem masked--20"></div>
									<div class="masked__elem masked--21"></div>
									<div class="masked__elem masked--22"></div>
									<div class="masked__elem masked--23"></div>
									<div class="masked__elem masked--24"></div>
									<div class="masked__elem masked--25"></div>
									<div class="masked__elem masked--26"></div>
									<div class="masked__elem masked--27"></div>
									<div class="masked__elem masked--28"></div>
									<div class="masked__elem masked--29"></div>
									<div class="masked__elem masked--30"></div>
									<div class="masked__elem masked--31"></div>
									<div class="masked__elem masked--32"></div>
									<div class="masked__elem masked--33"></div>
									<div class="masked__elem masked--34"></div>
									<div class="masked__elem masked--35"></div>
									<div class="masked__elem masked--36"></div>
									<div class="masked__elem masked--37"></div>
									<div class="masked__elem masked--38"></div>
									<div class="masked__elem masked--39"></div>
									<div class="masked__elem masked--40"></div>
									<div class="masked__elem masked--41"></div>
									<div class="masked__elem masked--42"></div>
									<div class="masked__elem masked--43"></div>
									<div class="masked__elem masked--44"></div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<!-- <div class="" padding-vertical><span margin-horizontal>Repricing history and current status on all marketplaces.</span> </div> -->
						<div>
							<!-- <pricer-loader [hidden]="gotTopMetrics"></pricer-loader> -->
							<div [hidden]="!gotTopMetrics" padding-vertical>
								<div class="visible-xs center-block text-center"><small class="text-md-dark last-updated-txt">Last updated at {{topMetrics.last_updated}}</small></div>
								<h6 class="space-between" padding-horizontal>
									<span class="text-primary">Top Metrics
									 <!-- <small class="text-md-dark">(as of today at 01:00AM. Next crawl at 08:00PM)</small>  -->
									:</span>
									<!-- <small class="text-md-dark">Last updated at {{topMetrics.last_updated}}</small> -->
								</h6>
								<ul class="pricer-info count list-inline">
									<li class="count__single">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<!-- <i class="count__cube"></i> {{ dashData.product_count >= 0 ? dashData.product_count : naText }} -->
												<i class="count__cube"></i> {{ topMetrics.product_count >= 0 ? topMetrics.product_count : naText }}
											</span>
											<span class="count__text left">Total Products</span>
										</a>
									</li>
									<li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ topMetrics.im_selling >= 0 ? topMetrics.im_selling : naText }}
											</span>
											<span class="count__text left no-chevron">You're Selling</span>
										</a>
									</li>

									<!-- new metrics -->
									<li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ topMetrics.im_stocked_out >= 0 ? topMetrics.im_stocked_out : naText }}
											</span>
											<span class="count__text left no-chevron">You're Stocked Out</span>
										</a>
									</li> 

									<li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ topMetrics.im_not_selling >= 0 ? topMetrics.im_not_selling : naText }}
											</span>
											<span class="count__text left no-chevron">You aren't Selling</span>
										</a>
									</li>

									<li class="count__single arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all','i_am_only_seller')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ topMetrics.im_only_seller >= 0 ? topMetrics.im_only_seller : naText }}
											</span>
											<span class="count__text left">You're the Only Seller</span>
										</a>
									</li>

                  					<li class="count__single arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all','i_have_buy_box')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ topMetrics.i_have_buybox >= 0 ? topMetrics.i_have_buybox : naText }}
											</span>
											<span class="count__text left">You Have Buybox</span>
										</a>
									</li>

									<!-- new metrics -->
									 <li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ topMetrics.i_dont_have_buybox >= 0 ? topMetrics.i_dont_have_buybox : naText }}
											</span>
											<span class="count__text left no-chevron">You don't have Buybox</span>
										</a>
									</li> 

									<li class="count__single arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all','im_cheapest')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ topMetrics.im_lowest >= 0 ? topMetrics.im_lowest : naText }}
											</span>
											<span class="count__text left">You're Lowest</span>
										</a>
									</li>
									<li class="count__single arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all','seller_is_cheapest')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ topMetrics.im_not_lowest >= 0 ? topMetrics.im_not_lowest : naText }}
											</span>
											<span class="count__text left">You aren't Lowest</span>
										</a>
									</li>

									<!-- new metrics -->
									<li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ topMetrics.im_in_top_five >= 0 ? topMetrics.im_in_top_five : naText }}
											</span>
											<span class="count__text left no-chevron">You're in Top 5</span>
										</a>
									</li> 

									<!-- new metrics -->
									<li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ topMetrics.im_not_in_top_five >= 0 ? topMetrics.im_not_in_top_five : naText }}
											</span>
											<span class="count__text left no-chevron">You aren't in Top 5</span>
										</a>
									</li> 
	
									<!-- <li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ topMetrics.im_in_top_ten >= 0 ? topMetrics.im_in_top_ten : naText }}
											</span>
											<span class="count__text left no-chevron">You're in Top 10</span>
										</a>
									</li>  -->

									<li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ topMetrics.my_avg_rank >= 0 ? topMetrics.my_avg_rank : naText }}
											</span>
											<span class="count__text left no-chevron">Your Avg Rank</span>
										</a>
									</li>

									<!-- -->
								</ul>

								 <!-- <hr margin class="hidden-xs">  -->
							</div>
						</div>

						<div [hidden]="!gotTopMetrics">
							 <pricer-loader [hidden]="gotTrendChart"></pricer-loader>  
							<div [hidden]="!gotTrendChart" padding-vertical>
								<h6 class="text-primary" padding-horizontal ><span>Trend Chart</span> <span class="text-md-dark">- {{trendChartFilterLabel}}</span> </h6>
								<div class="line-chart" >
									<div class="range flex" padding-horizontal>
										<div class="range__text">View last:</div>
										<div class="range__holder flex">
											<div class="range__select" (click)="setRange('trendchart','24h')" [class.active]="defaultFilters.trendchart.rangeslug == '24h'">24 hrs</div>
											<div class="range__select" (click)="setRange('trendchart','48h')" [class.active]="defaultFilters.trendchart.rangeslug == '48h'">48 hrs</div>
											<div class="range__select" (click)="setRange('trendchart','7d')" [class.active]="defaultFilters.trendchart.rangeslug == '7d'">7 days</div>
											<div class="range__select" (click)="setRange('trendchart','30d')" [class.active]="defaultFilters.trendchart.rangeslug == '30d'">30 days</div>
											<div class="range__select" (click)="setRange('trendchart','custom')" [class.active]="defaultFilters.trendchart.rangeslug == 'custom'">Custom Range</div>
										</div>
										<my-date-range-picker placeholder="Choose Date" [hidden]="defaultFilters.trendchart.rangeslug != 'custom'" name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="defaultFilters.trendchart.rangemodel" (dateRangeChanged)="dateselected($event)" required></my-date-range-picker>
										<div class="legend__vals" hidden>
											<div class="inline-elem legend__single">
												<span class="color blue"></span>
												<span class="big val"><strong>{{ dashData.cheapest >= 0 ? dashData.cheapest : naText }}</strong></span>
												<span class="text-lighter text">Lowest</span>
											</div>
											<div class="inline-elem legend__single" margin-left>
												<span class="color green"></span>
												<span class="big val"><strong>{{ dashData.at_my_min >= 0 ? dashData.at_my_min : naText }}</strong></span>
												<span class="text-lighter text">At Min</span>
											</div>
											<div class="inline-elem legend__single" margin-left>
												<span class="color red"></span>
												<span class="big val"><strong>{{ dashData.at_my_max >= 0 ? dashData.at_my_max : naText }}</strong></span>
												<span class="text-lighter text">At Max</span>
											</div>
										</div>
									</div>
								</div>
								<div style="text-align: center; overflow: auto;">
									<br/>
									<div class="por chart">
										<!-- <div *ngIf="dashData.chart_data && dashData.chart_data.values && dashData.chart_data.values['lowest'].length == 0 && dashData.chart_data.values['my_min'].length == 0 && dashData.chart_data.values['my_max'].length == 0" class="canvas-loader"><h5>No Data Available</h5></div> -->
										<div [hidden]="retrivingTrendChart || ( lineChartLabels && lineChartLabels.length > 0 )" class="canvas-loader"><h5>No Data Available</h5></div>
										<div [hidden]="retrivingTrendChart || !lineChartLabels || ( lineChartLabels && lineChartLabels.length == 0 ) || ( lineChartLabels && lineChartLabels.length > 1 )" class="canvas-loader"><h5>Not Enough Data</h5></div>
										<div [hidden]="!retrivingTrendChart" class="canvas-loader show-loader"><h5></h5></div>
										<canvas baseChart width="600" height="400"
											[datasets]="trendChart"
											[labels]="lineChartLabels"
											[options]="lineChartOptions"
											[colors]="lineChartColors"
											[chartType]="lineChartType"
											(chartHover)="chartHovered($event)"
											(chartClick)="chartClicked($event)">
										</canvas>
									</div>
								</div>


								<hr margin class="hidden-xs">
							</div>

						</div>

						<div [hidden]="!gotTrendChart">
							<pricer-loader [hidden]="gotLastDayCount"></pricer-loader> 
							<div [hidden]="!gotLastDayCount" padding-vertical>
								<h6 class="text-primary" padding-horizontal><span>Last 24 Hours</span> </h6>
								<!-- add quick links here  -->
								<!-- <div class="range flex" padding-horizontal>
									<div class="range__text">View last:</div>
									<div class="range__select" (click)="setRange('lastday','24h')" [class.active]="defaultFilters.lastday.rangeslug == '24h'">24 hrs</div>
									<div class="range__select" (click)="setRange('lastday','48h')" [class.active]="defaultFilters.lastday.rangeslug == '48h'">48 hrs</div>
									<div class="range__select" (click)="setRange('lastday','7d')" [class.active]="defaultFilters.lastday.rangeslug == '7d'">7 days</div>
									<div class="range__select" (click)="setRange('lastday','30d')" [class.active]="defaultFilters.lastday.rangeslug == '30d'">30 days</div>
									<div class="range__select" (click)="setRange('lastday','custom')" [class.active]="defaultFilters.lastday.rangeslug == 'custom'">Custom Date Range</div>
									<my-date-range-picker [hidden]="defaultFilters.lastday.rangeslug != 'custom'" name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="defaultFilters.lastday.rangemodel" (dateRangeChanged)="dateselected($event)" required></my-date-range-picker>
								</div> -->
								<ul class="pricer-info count list-inline">
									<li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<!-- <i class="count__cube"></i> {{ dashData.product_count >= 0 ? dashData.product_count : naText }} -->
												<i class="count__cube"></i> {{ lastDayCounts.won_buy_box >= 0 ? lastDayCounts.won_buy_box : naText }}
											</span>
											<span class="count__text left no-chevron">Won Buy Box</span>
										</a>
									</li>
									<li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ lastDayCounts.won_lowest_price >= 0 ? lastDayCounts.won_lowest_price : naText }}
											</span>
											<span class="count__text left no-chevron">Won Lowest Price</span>
										</a>
									</li>
									<li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ lastDayCounts.lost_buy_box >= 0 ? lastDayCounts.lost_buy_box : naText }}
											</span>
											<span class="count__text left no-chevron">Lost BuyBox</span>
										</a>
									</li>
									<li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ lastDayCounts.lost_lowest_price >= 0 ? lastDayCounts.lost_lowest_price : naText }}
											</span>
											<span class="count__text left no-chevron">Lost Lowest Price</span>
										</a>
									</li>
									<!-- <li class="count__single">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ lastDayCounts.comp_price_changed >= 0 ? lastDayCounts.comp_price_changed : naText }}
											</span>
											<span class="count__text left">Competition changed Price</span>
										</a>
									</li> -->
									<li class="count__single not-allowed arrow">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ lastDayCounts.new_seller >= 0 ? lastDayCounts.new_seller : naText }}
											</span>
											<span class="count__text left no-chevron">New sellers entered</span>
										</a>
									</li>
									<!-- <li class="count__single">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ lastDayCounts.seller_stocked_out >= 0 ? lastDayCounts.seller_stocked_out : naText }}
											</span>
											<span class="count__text left">Sellers stocked out</span>
										</a>
									</li> -->
									<!-- <li class="count__single">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ lastDayCounts.seller_restocked >= 0 ? lastDayCounts.seller_restocked : naText }}
											</span>
											<span class="count__text left">Sellers stocked again</span>
										</a>
									</li> -->
									<!-- <li class="count__single">
										<a style="cursor: pointer" (click)="navTo('prices','all')" class="count__link">
											<span class="count__value">
												<i class="count__cube"></i> {{ lastDayCounts.listings_with_changes >= 0 ? lastDayCounts.listings_with_changes : naText }}
											</span>
											<span class="count__text left">Listings with changes</span>
										</a>
									</li> -->
								</ul>
							</div>

							<!-- <hr margin class="hidden-xs"> -->
						</div>

						<div [hidden]="!gotLastDayCount">
							 <pricer-loader [hidden]="gotMarketMetrics"></pricer-loader>
							<div [hidden]="!gotMarketMetrics" padding-vertical>
								<h6 class="text-primary" padding-horizontal><span>By Marketplace:</span> </h6>
								<!-- add market place table here  -->

								<div class="mp-table flex" padding-horizontal>
									<div class="mp-table__title">
										<div class="mp-cell mp-logo-cell"></div>
										<div class="mp-cell">Total Products</div>
										<div class="mp-cell">You're Selling</div>
										<div class="mp-cell">You have BuyBox</div>
										<div class="mp-cell">You're Lowest</div>
										<div class="mp-cell">You aren't Lowest</div>
										<div class="mp-cell">You're the Only Seller</div>
										<div class="mp-cell">You're in Top 10</div>
										<div class="mp-cell">You aren't Selling</div>
										<!-- <div class="mp-cell">Feedback/Rating</div> -->
										<div class="mp-cell">You're Average Rank</div>
										<!-- <div class="mp-cell">You're Stocked Out</div>
										<div class="mp-cell">You dont't have BuyBox</div>
										<div class="mp-cell">You're in Top 5</div>
										<div class="mp-cell">You aren't in Top 5</div> -->
									</div>
									<div *ngFor="let marketStats of marketMetrics" class="mp-table__market amazon">
										<div class="mp-cell mp-logo-cell">
											<span class="marketplaces" [ngClass]="{'m-amazon': marketStats.marketid == 1, 'm-flipkart': marketStats.marketid == 2}">
												<span class="m-h"></span>
											</span>
										</div>
										<div class="mp-cell">
											<strong class="big">{{ marketStats.product_count >= 0 ? marketStats.product_count.toLocaleString() : naText }}</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">{{ marketStats.im_selling >= 0 ? marketStats.im_selling.toLocaleString() : naText }}</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">{{ marketStats.i_have_buybox >= 0 ? marketStats.i_have_buybox.toLocaleString() : naText }}</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">{{ marketStats.im_lowest >= 0 ? marketStats.im_lowest.toLocaleString() : naText }}</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">{{ marketStats.im_not_lowest >= 0 ? marketStats.im_not_lowest.toLocaleString() : naText }}</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">{{ marketStats.im_only_seller >= 0 ? marketStats.im_only_seller.toLocaleString() : naText }}</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">{{ marketStats.im_in_top_ten >= 0 ? marketStats.im_in_top_ten.toLocaleString() : naText }}</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">{{ marketStats.im_not_selling >= 0 ? marketStats.im_not_selling.toLocaleString() : naText }}</strong>
										</div>
										<!-- <div class="mp-cell">
											<strong class="big">{{ marketStats.ratings ? marketStats.ratings.toLocaleString() : naText }}</strong>
										</div> -->
										<div class="mp-cell">
											<strong class="big">{{ marketStats.my_avg_rank >= 0 ? marketStats.my_avg_rank.toLocaleString() : naText }}</strong>
										</div>

										<!-- <div class="mp-cell">
											<strong class="big">{{ marketStats.im_stocked_out >= 0 ? marketStats.im_stocked_out.toLocaleString() : naText }}</strong>
										</div>
										
										<div class="mp-cell">
											<strong class="big">{{ marketStats.i_dont_have_buybox >= 0 ? marketStats.i_dont_have_buybox.toLocaleString() : naText }}</strong>
										</div>

										<div class="mp-cell">
											<strong class="big">{{ marketStats.im_in_top_five >= 0 ? marketStats.im_in_top_five.toLocaleString() : naText }}</strong>
										</div>

										<div class="mp-cell">
											<strong class="big">{{ marketStats.im_not_in_top_five >= 0 ? marketStats.im_not_in_top_five.toLocaleString() : naText }}</strong>
										</div> -->
									</div>
									<!-- <div class="mp-table__market flipkart">
										<div class="mp-cell mp-logo-cell">
											<span class="marketplaces m-flipkart">
												<span class="m-h"></span>
											</span>
										</div>
										<div class="mp-cell">
											<strong class="big">5</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">5</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">5</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">5</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">5</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">5</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">5</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">5</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">5</strong>
										</div>
										<div class="mp-cell">
											<strong class="big">5</strong>
										</div>
									</div> -->
								</div>

							</div>
						</div>
					</div>

				</ion-col>
				 <!-- <ion-col col-md-4 col-12 class="col-lb">
					 <div class="readd">
						<h5 class="readd__title">Add more products to be repriced</h5>
						<a (click)="navTo('not-found');"  class="flex readd__single disable-this">
							<span class="readd__w"><img src="assets/img/import-bt.png" class="readd__img"></span>
							<span class="readd__text">
								<span class="readd__head fw600" style="cursor: pointer;">Reprice products from Browntape <i class="fa fa-angle-right pull-right"></i></span>
								<span class="readd__desc">Add the products you have on Browntape to start tracking and repricing them</span>
							</span>
						</a>

						<a (click)="navTo('import')" class="flex readd__single">
							<span class="readd__w"><img src="assets/img/import-csv.png" class="readd__img"></span>
							<span class="readd__text">
								<span class="readd__head fw600" style="cursor: pointer;">Reprice products from an XLSX <i class="fa fa-angle-right pull-right"></i></span>
								<span class="readd__desc">Download a sample XLSX file for the format and upload it back with your data</span>
							</span>
						</a>

						<a (click)="navTo('not-found');" class="flex readd__single disable-this">
							<span class="readd__w"><img src="assets/img/import-manual.png" class="readd__img"></span>
							<span class="readd__text">
								<span class="readd__head fw600" style="cursor: pointer;">Add products manually <i class="fa fa-angle-right pull-right"></i></span>
								<span class="readd__desc">You can manually enter the details of the product to be repriced</span>
							</span>
						</a>
					</div>
				</ion-col>     -->
			</ion-row>
		</ion-grid>

	</div><!-- /.container -->
</ion-content>
<ion-footer>
	<footer-element></footer-element>
</ion-footer>
