/api/vendor/*
/api/config/app.php
/api/tmp/*
/api/logs/*
/api/.env
/api/crawl_start.sh
/api/cmd/*.out


/app/*~
/app/*.sw[mnpcod]
/app/*.log
/app/*.tmp
/app/*.tmp.*
/app/log.txt
/app/*.sublime-project
/app/*.sublime-workspace
/app/.vscode/
/app/npm-debug.log*


/app/.idea/
/app/.sass-cache/
/app/.tmp/
/app/.versions/
/app/coverage/
/app/dist/
/app/node_modules/
/app/tmp/
/app/temp/
/app/hooks/
/app/plugins/android.json
/app/plugins/ios.json
/app/$RECYCLE.BIN/
/app/!build/
/app/www/*
/app/platforms/*
/app/.design/*
/app/plugins/
/app/platforms/browser/build/package.zip

/app/.DS_Store
/app/Thumbs.db
/app/UserInterfaceState.xcuserstate


/scrapper/vendor/*
/scrapper/config/app.php
/scrapper/tmp/*
/scrapper/*.pyc
/scrapper/tmp
/scrapper/logs/*
/scrapper/bin/*
/scrapper/include/*
/scrapper/lib/*
/scrapper/local/*
/scrapper/node_modules/*
/scrapper/src/node_modules/*
/scrapper/src/bower_components/*
/scrapper/zappa_settings.json
/scrapper/repricing/settings.py
/scrapper/hotelpricer/headless_shell

/bin
/include
/lib
/local
pip-selfcheck.json
/share


*.pyc
