/api/vendor/*
/api/config/app.php
/api/tmp/*
/api/logs/*
/api/.env
/api/crawl_start.sh
/api/cmd/*.out


/app/vendor/*
/app/config/app.php
/app/tmp/*
/app/logs/*
/app/repricing/*
/app/bin/*
/app/include/*
/app/lib/*
/app/local/*
/app/selenium/*
/app/pip-selfcheck.json
/app/node_modules/*
/app/src/node_modules/*

/app/src/env.js
/app/platforms
/app/www


/scrapper/vendor/*
/scrapper/config/app.php
/scrapper/tmp/*
/scrapper/*.pyc
/scrapper/tmp
/scrapper/logs/*
/scrapper/bin/*
/scrapper/include/*
/scrapper/lib/*
/scrapper/local/*
/scrapper/node_modules/*
/scrapper/src/node_modules/*
/scrapper/src/bower_components/*
/scrapper/zappa_settings.json
/scrapper/repricing/settings.py
/scrapper/hotelpricer/headless_shell

/bin
/include
/lib
/local
pip-selfcheck.json
/share


*.pyc
