@media only screen and (min-height: 768px) and (min-width: 768px) {
	.md .modal-wrapper {
		width: 600px;
		height: 700px;
		top: calc(50% - (700px/2));
	}
}
page-edit-single-prices {
	@media (max-width: 767px) {
		.tabular {
			// .cell-one-fourth, .cell-three-fourth {
			// 	width: 50%;
			// }
			.cell-one-fourth {
				flex-grow: 2;
				flex-shrink: 2;
				flex-basis: 35%;
			}
			.cell-three-fourth {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 65%;
				padding-right: 8px;
			}
		}
	}

	// blah
	@media (max-width: 767px) {
		.bar-button-default-md {
			padding: 0 18px;
			margin-left: -18px !important;
			font-size: 1.2em;
			color: #fff;
		}
		.popup {
			&__header {
				background: $bt-red;
			}
			&__title {
				color: #fff;
			}
			&__dismiss {
				order: 1;
				.ion-md-close:before {
					content: '\f3cf';
				}
			}
			&__content {
				background: $bt-grey;
			}
		}
	}
	@media (max-width: 767px) {
		.popup__header {
			.toolbar-background {
				background: $bt-red;
			}
		}
	}
}

product-ResultProcessed{
	color: #fff;
    background-color: #309100;
}

productResultCrawling{
	color: #fff;
    background-color: #E8AA31;
}

productResultFailed{
	color: #fff;
    background-color: #f53d3d;
}

.edit__info{
	padding: 20px;
	@media (max-width: 767px){
		.item-input:last-child{
			border-bottom: 0;
			box-shadow: none !important;
			// margin-left: 16px;
			// padding-left: 0;
		}
		.fifty.item{
			padding-left: 0;
		}
	}
	@media (min-width: 768px){
		.item-input:last-child{
			border-bottom: 0;
			box-shadow: none;
			margin-left: 16px;
			padding-left: 0;
		}
	}
}

.ids-note{
	color: #757575;
	font-size: 85%;
	@media(min-width: 767px){
		margin-left: 20px;
	    margin-top: 10px;
	    display: block;
	}
}