<!-- <ion-header class="popup__header">
  <ion-toolbar>
    <ion-title>
      <h1 class="popup__title flex" no-margin>
        <div class="img-wrap" margin-right [ngStyle]="{'background-image': 'url(' +  (product_details.product_image_url || './assets/img/no-img.png') + ')'}">
        </div>
        <div class="text-wrap">
          <small>Editing</small><br>
          <span class="sku">{{channel_details.listing_id || naText}}</span> <strong class="text-ellipsis">{{product_details.product_name || naText}}</strong>
        </div>
      </h1>
    </ion-title>
    <ion-buttons start class="popup__dismiss">
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content class="popup__content"> -->
<div class="popup__content edit__info">
  <strong>Prices</strong>
  <div class="flex popup-form inline" margin-top>
    <ion-item class="has-rupee-symbol twenty-five">
      <ion-label stacked>MRP</ion-label>
      <ion-input type="number" (change)="validateFields()" [(ngModel)]="product_details_from_api.mrp" disabled="true"></ion-input>
    </ion-item>
    <!-- <ion-item class="has-rupee-symbol twenty-five">
      <ion-label stacked>Cost Price</ion-label>
      <ion-input type="number" [(ngModel)]="product_details_from_api.cost_price"></ion-input>
    </ion-item> -->
    <!-- <ion-item class="has-rupee-symbol twenty-five">
      <ion-label stacked>MOP</ion-label>
      <ion-input type="number" (change)="validateFields()" [(ngModel)]="product_details_from_api.mop"></ion-input>
    </ion-item> -->
    <!-- <ion-item class="has-rupee-symbol twenty-five">
      <ion-label stacked>Shipping Price</ion-label>
      <ion-input type="number" [(ngModel)]="product_details_from_api.shipping"></ion-input>
    </ion-item> -->
  </div>
  <hr margin-vertical>
  <strong>Default parameters for all marketplaces</strong>
  <div class="flex popup-form inline" margin-vertical>
    <!-- <ion-item class="has-rupee-symbol twenty-five">
      <ion-label stacked>Min Price</ion-label>
      <ion-input (change)="validateFields()" type="number" [(ngModel)]="product_details_from_api.min"></ion-input>
    </ion-item> -->
    <!-- <ion-item class="has-rupee-symbol twenty-five">
      <ion-label stacked>Max Price</ion-label>
      <ion-input (change)="validateFields()" type="number" [(ngModel)]="product_details_from_api.max"></ion-input>
    </ion-item> -->
    <!-- <ion-item class="f-channel fifty" no-padding margin-left>
      <ion-label>Rule for tracking</ion-label>
        <ion-select interface="popover" [(ngModel)]="selectedRule" placeholder="-- Please select a rule --">
          <ion-option *ngFor="let rule of pricingRules | keys" [value]="rule">{{pricingRules[rule]}}</ion-option>
        </ion-select>
    </ion-item> -->
  </div>
  <div class="flex popup-form inline">
    <!-- <ion-item class="fifty">
        <ion-label stacked>SKU Code</ion-label>
        <ion-input type="text" placeholder="" [(ngModel)]="product_details_from_api.listing_id"></ion-input>
      </ion-item> -->
    <ion-item>
      <ion-label stacked>Additional Listings</ion-label>
      <ion-input #competitorListings type="text" placeholder="Competitor ids separated by comma" [(ngModel)]="product_details_from_api.tracked_listings"></ion-input>
    </ion-item>
  </div>

  <div style="clear: both;">
    <small class="ids-note">Note: Add the listing IDs of the products which you think are competing with this product on the Marketplace</small>
  </div>
    <!-- <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>SKU Code</ion-label>
          <ion-input type="text" placeholder="" [(ngModel)]="product_details.sku_code"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>Competitors</ion-label>
          <ion-input type="text" placeholder="competitor ids separated by comma" [(ngModel)]="repricing.tracked_listings"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->

  <!-- .... ######################################################### .... -->
  <!-- .... Marketplaces hidden for now - to be used later            .... -->
  <!-- .... Remove class "hidden" from "strong" and div ".market-row" .... -->
  <!-- .... ######################################################### .... -->
  <strong class="hidden">Marketplaces these parameters will be applied to</strong>
  <!-- .... add class "market-row--on" if the marketplace is being repriced .... -->
  <!-- .... add class "market-row--open" if the row is open, remove that class when row is closed - rows will open and close when the "customise/cancel" btns are clicked .... -->
  <div class="hidden market-row market-row--on market-row--open tabular" margin-top>
    <div class="market-row__header flex tabular__row">
      <div class="market-row__toggle cell-4">
        <ion-item class="hide-label" no-padding>
          <!-- <ion-label> </ion-label> -->
          <ion-toggle color="green"></ion-toggle>
        </ion-item>
      </div>
      <div class="market-row__title cell-half">
        <span class="marketplaces m-amazon"><span class="m-h"></span></span>
        <span class="prod-title" no-margin>Amazon</span>
      </div>
      <div class="market-row__action cell-one-fourth text-right">
        <a class="download-link"><span>Customise</span></a>
      </div>
    </div>
    <div class="market-row__content background-bt-grey">
      <div class="flex popup-form inline">
        <ion-item class="has-rupee-symbol twenty-five">
          <ion-label stacked>Min Price</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item class="has-rupee-symbol twenty-five">
          <ion-label stacked>Max Price</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item class="f-channel fifty" no-padding margin-left>
          <ion-label>Rule for tracking</ion-label>
          <ion-select interface="popover" placeholder="-- Please select a rule --">
            <ion-option>Rule 1</ion-option>
            <ion-option>Rule 2</ion-option>
            <ion-option>Rule 3</ion-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="flex popup-form inline">
        <ion-item class="">
          <ion-label stacked>Competitors</ion-label>
          <ion-input type="text" placeholder="competitor ids separated by comma"></ion-input>
        </ion-item>
      </div>
    </div>
  </div>
  <br/>

  <div [hidden]="!updateFailMessage" class="error error--danger" no-margin>
    <strong>Sorry!</strong>&nbsp;{{updateFailMessage}}
  </div>

  <div class="button-holder" text-right>
    <button [disabled]="updateInProgress || updateFailMessage" [class.loading]="updateInProgress" (click)="update()" ion-button color="green" class="btn-apply" no-margin>Save</button>
    	<!--<button [hidden]="!updateSuccess" (click)="dismiss()" ion-button color="green" class="btn-apply" no-margin>Done</button>-->
  </div>
</div>
  <!-- </ion-content> -->
